@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-size: 13px;
  width: 100%;
  background: #F4F5F8;
  font-family: 'Montserrat', sans-serif; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  list-style: none; }

.nav-left {
  width: 200px;
  padding: 0 10px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  left: 0;
  top: 50px;
  background: #fff;
  border-right: 1px solid #EEF0F5; }
  .nav-left ul {
    padding: 0;
    margin: 0;
    padding-top: 10px; }
    .nav-left ul li label {
      font-weight: 700;
      cursor: pointer;
      color: #3E4247;
      display: inline-block;
      width: 100%;
      padding: 8px 0; }
      .nav-left ul li label img {
        height: 5px;
        transform: rotate(271deg);
        float: right; }
      .nav-left ul li label:hover {
        color: #5AA2F8; }
    .nav-left ul li ul {
      padding-left: 15px;
      padding-top: 0;
      display: none; }
      .nav-left ul li ul li a {
        padding: 8px 0;
        font-weight: 500;
        display: inline-block;
        width: 100%;
        color: #959EA8; }
        .nav-left ul li ul li a:hover {
          color: #5AA2F8; }
    .nav-left ul li.active label {
      color: #5AA2F8; }
      .nav-left ul li.active label img {
        transform: rotate(0deg); }
    .nav-left ul li.active ul {
      display: block; }
      .nav-left ul li.active ul li.active a {
        color: #5AA2F8; }

.head-top {
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #EEF0F5;
  left: 0;
  width: 100%;
  height: 49px;
  z-index: 1; }
  .head-top .logo {
    display: inline-block;
    margin: 10px 59px; }
    .head-top .logo img {
      height: 28px; }
  .head-top .menu-icon {
    position: fixed;
    left: 10px;
    top: 17px;
    cursor: pointer; }
    .head-top .menu-icon img {
      height: 16px; }

.element-head {
  float: right; }
  .element-head .seach {
    float: left;
    margin-top: 8px;
    width: 180px;
    position: relative;
    padding-right: 42px; }
    .element-head .seach input {
      height: 30px;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #EEF0F5; }
    .element-head .seach img {
      position: absolute;
      right: 9px;
      height: 19px;
      cursor: pointer;
      top: 5px; }

.box-acc {
  position: relative;
  padding: 8.5px 10px;
  float: left;
  margin-left: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer; }
  .box-acc i {
    font-size: 13px;
    margin-right: 5px; }
  .box-acc ul {
    position: absolute;
    top: 75px;
    right: 0;
    width: 150px;
    background: #fff;
    box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear; }
    .box-acc ul li {
      list-style: none;
      position: relative;
      padding-left: 15px;
      padding: 5px 0 5px 5px; }
      .box-acc ul li a {
        text-decoration: none;
        color: #3E4247; }
        .box-acc ul li a:hover {
          color: #5AA2F8; }
      .box-acc ul li:hover::before {
        background: #5AA2F8; }
  .box-acc:hover ul {
    visibility: visible;
    opacity: 1;
    top: 50px; }

.box-notification {
  margin: 0 20px; }
  .box-notification img {
    height: 26px; }
  .box-notification span {
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 50%;
    background: #5AA2F8;
    position: absolute;
    right: -9px;
    top: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff; }
  .box-notification ul {
    width: 250px; }

.box-mail img {
  height: 18px !important;
  margin-top: 5px; }

.box-power {
  padding-right: 25px; }
  .box-power img:nth-child(1) {
    width: 26px; }
  .box-power img:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 9px; }

.form__group {
  position: relative;
  padding: 15px 10px;
  height: 30px; }

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #EEF0F5;
  outline: 0;
  padding: 5px 0 10px 0;
  background: transparent;
  transition: border-color 0.2s; }
  .form__field::placeholder {
    color: transparent; }
  .form__field:placeholder-shown ~ .form__label {
    top: 20px; }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s; }

.form__field:focus {
  padding-bottom: 9px;
  border-image: linear-gradient(to right, #11998e, #5AA2F8);
  border-image-slice: 1; }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s; }

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none; }

.wall-body h1 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3E4247;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0px; }

.form-template {
  border: 1px solid #EEF0F5;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  flex-wrap: wrap;
  background: #fff; }
  .form-template label {
    color: #959EA8; }

.form-popup {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  background: #fff; }
  .form-popup label {
    color: #959EA8; }

.nh-col-2 {
  float: left;
  width: 50%; }

.nh-col-3 {
  width: 33.33333%;
  float: left; }

.nh-col-4 {
  float: left;
  width: 25%; }

.nh-col-5 {
  float: left;
  width: 20%; }

.body-content {
  padding: 65px 15px 15px 235px; }
  .body-content .wall-body {
    display: inline-block;
    width: 100%; }

.show-body {
  padding: 65px 15px 15px 15px; }

.hide-menu {
  display: none; }

.btn-body {
  text-align: center;
  display: inline-block;
  width: 100%; }
  .btn-body button {
    min-width: 80px;
    height: 40px;
    border-radius: 4px; }
    .btn-body button:hover {
      opacity: .8; }
    .btn-body button.focus {
      background: #5AA2F8;
      cursor: pointer;
      margin: 0 5px;
      color: #fff;
      border: 1px solid #5AA2F8; }
    .btn-body button.default {
      background: #fff;
      color: #959EA8;
      margin: 0 5px;
      border: 1px solid #959EA8; }
    .btn-body button:disabled {
      cursor: no-drop;
      opacity: .3; }

.table-body {
  display: inline-block;
  width: 100%;
  margin: 20px 0; }
  .table-body table {
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    border-spacing: 0; }
    .table-body table thead th {
      padding: 10px;
      border: 1px solid #EEF0F5;
      text-align: left;
      background: #e3e6ea;
      color: #3E4247; }
    .table-body table tbody tr td {
      padding: 10px;
      border: 1px solid #EEF0F5; }
    .table-body table tbody tr:nth-child(even) {
      background: #F2F5F9; }
    .table-body table tbody tr:hover {
      background: #d8e5f5; }

.pagging {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  .pagging a {
    color: #959EA8;
    text-decoration: none;
    display: inline-block; }
    .pagging a:hover {
      color: #5AA2F8; }
  .pagging .numbers-page {
    display: inline-block; }
    .pagging .numbers-page a {
      padding: 5px 10px;
      color: #959EA8;
      border: 1px solid #F4F5F8; }
      .pagging .numbers-page a.active {
        border-color: #5AA2F8;
        color: #5AA2F8; }

.show-content-popup-handmake {
  display: block !important; }

.popup-handmake {
  position: fixed;
  top: 0;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  left: 0;
  height: 100%;
  display: none;
  width: 100%;
  z-index: 4; }
  .popup-handmake::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .popup-handmake .content-form {
    border-radius: 0 0 4px 4px; }

.title-popup {
  position: relative;
  background: #5AA2F8;
  border-radius: 4px 4px 0 0 !important;
  height: auto;
  border: 0;
  padding: 10px 15px;
  background: #5AA2F8;
  border-radius: 4px 4px 0 0 !important;
  height: auto;
  border: 0; }
  .title-popup h2 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; }
  .title-popup img {
    height: 15px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block; }

.content-popup {
  background: #fff;
  padding: 0 10px;
  padding-top: 20px;
  border-radius: 0 0 2px 2px; }
  .content-popup .btn-body {
    margin-top: 10px; }

.modal-big {
  width: 1000px;
  margin: 6% auto;
  position: relative; }

@media only screen and (max-width: 820px) {
  .nav-left {
    display: none; }

  .body-content {
    padding: 65px 15px 15px 15px; }

  .head-top .logo {
    padding: 10px 0; }
    .head-top .logo img {
      display: none; }

  .seach {
    display: none; }

  .box-notification {
    margin: 0 9px; }

  .box-acc ul {
    position: fixed;
    width: 100%;
    padding: 10px; }

  .hide-menu {
    display: block !important;
    z-index: 9;
    overflow-y: auto; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?3tvh9a");
  src: url("../fonts/icomoon.eot?3tvh9a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3tvh9a") format("truetype"), url("../fonts/icomoon.woff?3tvh9a") format("woff"), url("../fonts/icomoon.svg?3tvh9a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-floppy-disk:before {
  content: "\e900"; }

.icon-plus:before {
  content: "\e901"; }

.icon-pen:before {
  content: "\e902"; }

.icon-checked:before {
  content: "\e903"; }

.icon-trash:before {
  content: "\e904"; }

.icon-comment:before {
  content: "\e905"; }

.icon-down-arrow:before {
  content: "\e906"; }

.icon-down-arrow-1:before {
  content: "\e907"; }

.icon-down-arrow-2:before {
  content: "\e908"; }

.icon-up-arrow:before {
  content: "\e909"; }

.check-box-form {
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  .check-box-form label {
    display: inline-block !important;
    margin-right: 20px;
    font-size: 13px !important;
    line-height: 22px; }
  .check-box-form .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .check-box-form .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .check-box-form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #afafaf; }
  .check-box-form .container input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 1px solid #2196F3; }
  .check-box-form .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .check-box-form .container input:checked ~ .checkmark:after {
    display: block; }
  .check-box-form .container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.radio-box-form label {
  display: inline-block !important;
  margin-right: 20px;
  font-size: 13px !important;
  line-height: 25px; }
.radio-box-form .checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.radio-box-form .checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }
.radio-box-form .checkcontainer input:checked ~ .radiobtn {
  background-color: #2196F3;
  border: 1px solid #2196F3; }
.radio-box-form .checkcontainer input:checked ~ .radiobtn:after {
  display: block; }
.radio-box-form .checkcontainer .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white; }
.radio-box-form .radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border: 1px solid #afafaf;
  border-radius: 50%; }
.radio-box-form .radiobtn:after {
  content: "";
  position: absolute;
  display: none; }
.radio-box-form .checkcontainer .radiobtn:after {
  top: 5px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white; }
.radio-box-form .checkcontainer input:checked ~ .radiobtn:after {
  display: block; }

.select-box select {
  width: 100%;
  display: inline-block;
  border-radius: 1px;
  color: #3E4247;
  border: 0;
  height: 33px;
  border-bottom: 1px solid #EEF0F5; }

.btn-body button {
  cursor: pointer; }
  .btn-body button i {
    font-size: 15px; }

.tab-box {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  /*
 CSS for the main interaction
*/ }
  .tab-box .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw; }
  .tab-box .tabset .tab-panel {
    display: none; }
  .tab-box .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tab-box .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tab-box .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tab-box .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tab-box .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tab-box .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block; }
  .tab-box .tabset > label {
    position: relative;
    display: inline-block;
    padding: 10px 15px 10px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 400; }
  .tab-box .tabset > input:checked + label {
    border-bottom: 1px solid #5AA2F8;
    margin-bottom: -1px;
    color: #2196F3; }
  .tab-box .tab-panel {
    padding: 30px 15px; }
  .tab-box .tab-panels {
    border-top: 0; }

.tab-body {
  padding: 0 15px; }

.nh-col-1 {
  float: left;
  width: 100%; }

.comment-box {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block; }
  .comment-box textarea {
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    padding-top: 10px;
    width: 100%;
    border: 1px solid #EEF0F5; }

.body-commentbox {
  padding: 10px; }

.date-html input {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8px;
  padding-bottom: 5px;
  opacity: .53; }

.body-Timekeeping .table-body {
  margin: 0;
  text-align: center; }
  .body-Timekeeping .table-body thead th {
    text-align: center; }

.text-align-right {
  text-align: right !important; }

.text-align-left {
  text-align: left !important; }

.content-overview {
  background-color: white;
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px; }
  .content-overview h2 {
    font-size: 14px;
    color: #5AA2F8;
    margin-bottom: 10px; }
  .content-overview ul li {
    width: 100%;
    margin-bottom: 5px;
    display: inline-block; }
    .content-overview ul li span {
      float: left;
      min-width: 200px; }
    .content-overview ul li select {
      width: 200px;
      padding: 0 5px;
      height: 26px;
      border: 1px solid #EEF0F5; }

.btn-save-timekeeping {
  margin-top: 15px; }

.total-salary {
  text-align: right; }
  .total-salary td {
    font-size: 20px;
    color: #5AA2F8;
    font-weight: 700; }

.note-table p {
  font-size: 14px;
  color: #5AA2F8; }

/*# sourceMappingURL=style.css.map */
