
$blue:#5AA2F8;
$black:#3E4247;
$black-80:#959EA8;
$icon-color:#B4B8C0;
$border-color:#EEF0F5;
$bg-color:#F4F5F8;
$bg-hover:#F2F5F9;
$white:#fff;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-size: 13px;
    width: 100%;
    background: $bg-color;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    list-style: none;
}
@mixin float {
    display: inline-block;
    width: 100%;
}
.nav-left{
    width: 200px;
    padding: 0 10px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 50px;
    background: $white;
    border-right: 1px solid $border-color;
    ul{
        padding: 0;
        margin: 0;
        padding-top: 10px;
        li{
            label{
                font-weight: 700;
                cursor: pointer;
                color: $black;
                @include float();
                padding: 8px 0;
                img{
                    height: 5px;
                    transform: rotate(271deg);
                    float: right;
                }
                &:hover{
                    color: $blue;
                }
            }
            ul{
                padding-left: 15px;
                padding-top: 0;
                display: none;
                li{
                    a{
                        padding: 8px 0;
                        font-weight: 500;
                        @include float();
                        color: $black-80;
                        &:hover{
                            color: $blue;
                        }
                    }
                }
            }
            &.active{
                label{
                    color: $blue;
                    img{
                        transform: rotate(0deg);
                    }
                }
                ul{
                    display: block;
                    li{
                        &.active{
                            a{
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
.head-top{
    position: fixed;
    top: 0;
    background: $white;
    border-bottom: 1px solid $border-color;
    left: 0;
    width: 100%;
    height: 49px;
    z-index: 1;
    .logo{
        display: inline-block;
        margin: 10px 59px;
        img{
            height: 28px;
        }
    }
    .menu-icon{
        position: fixed;
        left: 10px;
        top: 17px;
        cursor: pointer;
        img{
            height: 16px;
        }
    }
}
.element-head{
    float: right;
    .seach{
        float: left;
        margin-top: 8px;
        width: 180px;
        position: relative;
        padding-right: 42px;
        input{
            height: 30px;
            width: 100%;
            border: 0;
            border-bottom: 1px solid $border-color;
        }
        img{
            position: absolute;
            right: 9px;
            height: 19px;
            cursor: pointer;
            top: 5px;
        }
    }
}
.box-acc{
    position: relative;
    padding: 8.5px 10px;
    float: left;
    margin-left: 10px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer;
    i{
        font-size: 13px;
        margin-right: 5px;
    }
    ul{
        position: absolute;
        top: 75px;
        right: 0;
        width: 150px;
        background: #fff;
        box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05);
        padding: 10px 15px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        li{
            list-style: none;
            position: relative;
            padding-left: 15px;
            padding: 5px 0 5px 5px;
            a{
                text-decoration: none;
                color: $black;
                &:hover{
                    color: $blue;
                }
            }
            &:hover{
                &::before{
                    background: $blue;
                }
            }
        }
    }
    &:hover{
        ul{
            visibility: visible;;
            opacity: 1;
            top: 50px;
        }
        
    }
}
.box-notification{
    margin: 0 20px;
    img{
        height: 26px;
    }
    span{
        width: 20px;
        display: inline-block;
        height: 20px;
        border-radius: 50%;
        background: $blue;
        position: absolute;
        right: -9px;
        top:10px;
        text-align: center;
        line-height: 20px;
        color: $white;
    }
    ul{
        width: 250px;
    }
}
.box-mail{
    img{
        height: 18px !important;
        margin-top: 5px;
    }
}
.box-power{
    padding-right: 25px;
    img{
        &:nth-child(1){
            width: 26px;
        }
        &:nth-child(2){
            position: absolute;
            right: 10px;
            top: 20px;
            width: 9px;
        }
    }
}
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 10px;
  height: 30px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $border-color;
  outline: 0;
  padding:5px 0 10px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
  }
  padding-bottom: 9px;
  border-image: linear-gradient(to right, $primary,$blue);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
.wall-body{
    h1{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: $black;
        @include float();
        margin-bottom: 15px;
        margin-top: 0px;
    }
}
.form-template{
    border: 1px solid $border-color;
    padding: 10px 0;
    @include float();
    border-radius: 4px;
    flex-wrap: wrap;
    background: $white;
    label{
        color: $black-80;
    }
}
.form-popup{
    @include float();
    border-radius: 4px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    background: $white;
    label{
        color: $black-80;
    }
}
.nh-col-2{
    float: left;
    width:50%;
}
.nh-col-3{
    width: 33.33333%;
    float: left;
}
.nh-col-4{
    float: left;
    width:25%;
}
.nh-col-5{
    float: left;
    width:20%;
}
.body-content{
    padding: 65px 15px 15px 235px;
    .wall-body{
        @include float();
    }
}
.show-body{
    padding: 65px 15px 15px 15px;
}
.hide-menu{
    display: none;
}
.btn-body{
    text-align: center;
    @include float();
    button{
        min-width: 80px;
        height: 40px;
        border-radius: 4px;
        &:hover{
            opacity: .8;
        }
        &.focus{
            background: $blue;
            cursor: pointer;
            margin: 0 5px;
            color: $white;
            border: 1px solid $blue;
        }
        &.default{
            background: $white;
            color: $black-80;
            margin: 0 5px;
            border: 1px solid $black-80;
        }
        &:disabled{
            cursor: no-drop;
            opacity: .3;
        }
    }
}
.table-body{
    @include float();margin:20px 0;
    table{
        background: $white;
        width: 100%;
        border-collapse: collapse;
        border-radius: 4px;
        overflow: hidden;
        border-spacing: 0;
        thead{
            th{
                padding: 10px;
                border: 1px solid $border-color;
                text-align: left;
                background: #e3e6ea;
                color: $black;
            }
        }
        tbody{
            tr{
                td{
                    padding:10px;
                    border: 1px solid $border-color;
                }
                &:nth-child(even){
                    background: $bg-hover;
                }
                &:hover{
                    background: #d8e5f5;
                }
            }
        }
    }
}
.pagging{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top:20px;
    a{
        color: $black-80;
        text-decoration: none;
        display: inline-block;

        &:hover{
            color: $blue;
        }
    }
    .numbers-page{
        display: inline-block;
        a{
            padding: 5px 10px;
            color: $black-80;
            border: 1px solid $bg-color;
            &.active{
                border-color: $blue;
                color: $blue;
            }
        }
    }
}.show-content-popup-handmake{
    display: block !important;
}
.popup-handmake{
    position: fixed;
    top: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    left: 0;
    height: 100%;
    display: none;
    width: 100%;
    z-index: 4;
    &::before{
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    .content-form{
        border-radius: 0 0 4px 4px;
    }
}
.title-popup{
    position: relative;
    background: #5AA2F8;
    border-radius: 4px 4px 0 0 !important;
    height: auto;
    border: 0;
    padding: 10px 15px;
    h2{
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
    }
    img{
        height: 15px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
    }
    background: $blue;
    border-radius: 4px 4px 0 0 !important;
    height: auto;
    border: 0;
}
.content-popup{
    background: $white;
    padding: 0 10px;
    padding-top: 20px;
    border-radius: 0 0 2px 2px;
    .btn-body{
        margin-top: 10px;
    }
}
.modal-big{
    width: 1000px;
    margin: 6% auto;
    position: relative;
}
@media only screen and (max-width: 820px) {
   .nav-left{
       display: none;
   }
   .body-content{
    padding: 65px 15px 15px 15px;
   }
   .head-top .logo{
       padding: 10px 0;
       img{
           display: none;
       }
   }
   .seach{
       display: none;
   }
   .box-notification {
    margin: 0 9px;
    }
    .box-acc ul{
        position: fixed;
        width: 100%;
        padding: 10px;
    }
    .hide-menu{
        display: block !important;
        z-index: 9;
        overflow-y: auto;
    }
}

$blue:#5AA2F8;
$black:#3E4247;
$black-80:#959EA8;
$icon-color:#B4B8C0;
$border-color:#EEF0F5;
$bg-color:#F4F5F8;
$bg-hover:#F2F5F9;
$white:#fff;


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3tvh9a');
    src:  url('../fonts/icomoon.eot?3tvh9a#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3tvh9a') format('truetype'),
      url('../fonts/icomoon.woff?3tvh9a') format('woff'),
      url('../fonts/icomoon.svg?3tvh9a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-floppy-disk:before {
    content: "\e900";
  }
  .icon-plus:before {
    content: "\e901";
  }
  .icon-pen:before {
    content: "\e902";
  }
  .icon-checked:before {
    content: "\e903";
  }
  .icon-trash:before {
    content: "\e904";
  }
  .icon-comment:before {
    content: "\e905";
  }
  .icon-down-arrow:before {
    content: "\e906";
  }
  .icon-down-arrow-1:before {
    content: "\e907";
  }
  .icon-down-arrow-2:before {
    content: "\e908";
  }
  .icon-up-arrow:before {
    content: "\e909";
  }
  


.check-box-form{
    label{
        display: inline-block !important;
        margin-right: 20px;
        font-size: 13px !important;
        line-height: 22px;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default checkbox */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #afafaf;
      }
      
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #2196F3;
        border: 1px solid #2196F3;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 7px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
}
.radio-box-form{
    label{
        display: inline-block !important;
        margin-right: 20px;
        font-size: 13px !important;
        line-height: 25px;
    }
    .checkcontainer {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 17px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .checkcontainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkcontainer input:checked ~ .radiobtn {
        background-color: #2196F3;
        border: 1px solid #2196F3;
    }
    .checkcontainer input:checked ~ .radiobtn:after {
        display: block;
    }
    .checkcontainer .radiobtn:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    .radiobtn {
        position: absolute;
        top: 0;
        left: 0;
        height: 23px;
        width: 23px;
        background-color: #fff;
        border: 1px solid #afafaf;
        border-radius: 50%;
    }
    .radiobtn:after {
        content: "";
        position: absolute;
        display: none;
    }
    .checkcontainer .radiobtn:after {
        top: 5px;
        left: 6px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
    }
    .checkcontainer input:checked ~ .radiobtn:after {
        display: block;
    }
}
.select-box{
    select{
        width: 100%;
        display: inline-block;
        border-radius: 1px;
        color: $black;
        border: 0;
        height: 33px;
        border-bottom: 1px solid #EEF0F5;
    }
}
.btn-body{
    button{
        cursor: pointer;
        i{
            font-size: 15px;
        }
    }
}
.tab-box{
  display: inline-block;  
  margin-top: 20px;
  width: 100%;

  /*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}



.tabset > label {
  position: relative;
  display: inline-block;
  padding:10px 15px 10px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 400;
}

.tabset > input:checked + label {
  border-bottom: 1px solid $blue;
  margin-bottom: -1px;
  color: #2196F3;
}

.tab-panel {
  padding: 30px 15px;
}

.tab-panels{
  border-top: 0;
}
}

.tab-body{
  padding: 0 15px;
}
.nh-col-1{
  float: left;
  width:100%;
}
.comment-box{
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  textarea{
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
  padding-top: 10px;
    width: 100%;
    border: 1px solid $border-color;
  }
}
.body-commentbox{
  padding: 10px;
  
}
.date-html{
  input{
      border: 0;
      border-bottom: 1px solid #d8d8d8;
      color: #000000;
      font-family: 'Montserrat', sans-serif;
      margin-top: 8px;
      padding-bottom: 5px;
      opacity: .53;
  }
}
.body-Timekeeping{
    .table-body{
        margin: 0;
        text-align: center;
        thead{
            th{
                text-align: center;
            }
        }
    }
}
.text-align-right{
    text-align: right !important;
}
.text-align-left{
    text-align: left !important;
}
.content-overview{
    background-color: white;
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    h2{
        font-size: 14px;
        color: $blue;
        margin-bottom: 10px;
    }

    ul{
        li{
            width:100%;
            margin-bottom: 5px;
            display: inline-block;
            span{
                float: left;
                min-width: 200px;
            }
            select{
                width: 200px;
                padding:0 5px;
                height: 26px;
                border: 1px solid $border-color;
            }
        }
    }
}
.btn-save-timekeeping{
    margin-top: 15px;
}
.total-salary{
    text-align: right;      
    td{
        font-size: 20px;
        color: $blue;
        font-weight: 700;
    }
}

.note-table{
    p{
        font-size: 14px;
        color: $blue;
    }
}